@import "../../../variables.scss";

$width: 4rem;
$height: 4rem;

#main {
  width: $width;
  height: $height;
}

.spinner {
  position: relative;
}
.spinner:before,
.spinner:after {
  content: "";
  position: relative;
  display: block;
}
.spinner:before {
  animation: spinner 2.5s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
  width: $width;
  height: $height;
  background-color: $primary-color;
}
.spinner:after {
  animation: shadow 2.5s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
  bottom: -0.5em;
  height: 0.25em;
  border-radius: 50%;
  background-color: rgba(#000, 0.2);
}

@keyframes spinner {
  50% {
    border-radius: 50%;
    transform: scale(0.5) rotate(360deg);
  }
  100% {
    transform: scale(1) rotate(720deg);
  }
}
@keyframes shadow {
  50% {
    transform: scale(0.5);
    background-color: rgba(#000, 0.1);
  }
}
