<mat-card class="card">
  <div class="main-image-container cursor-pointer" (click)="goToDetails()">
    <h2 class="title">
      <span tabindex="0">{{ post.title }}</span>
    </h2>
    <img
      class="main-image"
      [alt]="post.title"
      appBlurImage
      [src]="post.mainImageThumbnailPath"
    />
  </div>
  <div class="subcontent">
    <div class="subtitle">{{ post.subtitle }}</div>
    <div class="subbar">
      <span>published at {{ post.publishDate | timestamp | date:"mediumDate"}}</span>
    </div>
  </div>
</mat-card>
