.line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.loading {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container:last-child hr {
    display: none;
}
