<mat-list *ngIf="!isLoading">
    <span *ngFor="let post of posts" class="container">
        <mat-list-item>
            <span class="line"
                ><span
                    class="cursor-pointer"
                    [routerLink]="['/post', post.id]"
                    >{{ post.title }}</span
                >
                <button
                    mat-icon-button
                    [matMenuTriggerFor]="appMenu"
                    [matMenuTriggerData]="{ id: post.id }"
                >
                    <mat-icon>more_vert</mat-icon>
                </button></span
            >
        </mat-list-item>
        <hr />
    </span>
</mat-list>
<div class="loading"><blog-spinner *ngIf="isLoading"></blog-spinner></div>
<mat-menu #appMenu="matMenu">
    <ng-template matMenuContent let-id="id">
        <button mat-menu-item (click)="edit(id)">Edit</button>
        <button mat-menu-item (click)="delete(id)" color="warn">Remove</button>
    </ng-template>
</mat-menu>
