<mat-sidenav-container>
  <mat-sidenav
    [fixedInViewport]="true"
    mode="over"
    [opened]="isDrawerOpen$ | async"
    (closedStart)="closeDrawer()"
  >
    <app-drawer></app-drawer>
  </mat-sidenav>
  <mat-sidenav-content>
    <blog-header class="header"></blog-header>
    <div class="main-content"><router-outlet></router-outlet></div>
  </mat-sidenav-content>
</mat-sidenav-container>
