@import "../variables.scss";

.main-content {
  margin-top: 6rem;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.header {
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 100;
}

mat-sidenav {
  min-width: 400px;
}

@media screen and (max-width: 425px) {
  mat-sidenav {
    min-width: 90%;
  }
}

.mat-drawer-container {
  background-color: $background-color !important;
}

.hideSvgSoThatItSupportsFirefox {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  // overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.mat-drawer-container {
  overflow: inherit !important;
}
