.navigation {
    width: 300px;
    // position: fixed;
    // left: calc(100vw - 300px);
    float: left;
    margin-left: -350px;
}

@media screen and (max-width: 1734px) {
    .navigation {
        display: block;
        width: 100%;
        float: none;
        margin: 0rem;
        margin-bottom: 1rem;
    }
}
