<div class="container">
  <div
    infiniteScroll
    [infiniteScrollDistance]="0.5"
    [infiniteScrollThrottle]="50"
    (scrolled)="onScroll()"
  >
    <span *ngFor="let post of posts; trackBy: trackPost; let i = index">
      <app-post class="card" [post]="post"></app-post>
      <blog-adsense *ngIf="i > 0 && i % 5 === 0"></blog-adsense>
    </span>
    <div *ngIf="posts.length === 0 && !loading" class="empty-response">
      <img src="assets/img/dead_ninja.png" alt="no results" /><br />
      <h4>Could not fetch any results</h4>
    </div>
  </div>
  <div class="center-horizontal-flex">
    <blog-spinner *ngIf="loading"></blog-spinner>
  </div>
</div>

<!-- blur filter -->
<svg version="1.1" xmlns="http://www.w3.org/2000/svg">
  <filter id="sharpBlur">
    <feGaussianBlur stdDeviation="3"></feGaussianBlur>
    <feComposite in2="SourceGraphic" operator="in"></feComposite>
  </filter>
</svg>

<!-- /blur filter -->
