@import "../../../../variables.scss";

$header-height: 4rem;

.header {
  height: $header-height;
  display: flex;
  background-color: $header-color;
  -webkit-box-shadow: 0px 7px 16px -5px rgba(0, 0, 0, 0.27);
  box-shadow: 0px 7px 16px -5px rgba(0, 0, 0, 0.27);

  .logo {
    margin-right: auto;
    max-height: 3.5rem;
    border-bottom: 3px solid hsla(0, 0, 0, 0);
    transition: 0.2s;
  }

  .logo:focus {
    outline: none;
  }

  .logo:hover {
    border-bottom: 3px solid $primary-color;
  }

  .search-button {
    display: none;
    margin-right: 1rem;
  }

  .search-form {
    display: flex;
    height: 50%;
    width: 15%;
    min-width: 9rem;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 1rem;
    margin-left: 1rem;
    border: 1px solid $secondary-text-color;
    padding: 0.4rem;
    font-size: 1rem;
    border-radius: 1.2rem;
    -webkit-transition: width 0.25s;
    transition: width 0.25s;
    background-color: $background-color;
    input {
      width: calc(100% - 33px);
      margin-left: 0.4rem;
      font-size: 1rem;
      border: none;
      outline: none;
      background-color: $background-color;
    }

    .icon {
      margin-top: auto;
      margin-bottom: auto;
    }

    .search-icon {
      cursor: pointer;
    }

    .search-icon:hover {
      color: $secondary-text-color-hover;
    }

    .search-container {
      display: inline-flex;
      align-content: center;
      height: 100%;
    }
  }

  .search-form:focus-within {
    width: 40%;
  }
  .mobile-search-form {
    display: none;
  }

  $mobile-search-form-width: 90%;
  @media only screen and (max-width: 475px) {
    .search-form {
      display: none;
    }
    .mobile-search-form {
      position: fixed;
      width: $mobile-search-form-width;
      height: 36px;

      left: 50%;
      transform: translateX(-50%);
      margin-left: 0;
      margin-right: 0;
      margin-top: 5px;
      display: none;
    }

    .mobile-search-form.open {
      display: flex;
      min-width: 9rem;
      margin-top: auto;
      margin-bottom: auto;
      border: 1px solid $secondary-text-color;
      top: $header-height;
      font-size: 1rem;
      border-radius: 0.2rem;
      -webkit-transition: width 0.25s;
      transition: width 0.25s;
      background-color: $background-color;
      input {
        width: calc(100% - 33px);
        margin-left: 0.4rem;
        font-size: 1rem;
        border: none;
        outline: none;
        background-color: $background-color;
      }
      .icon {
        margin-top: auto;
        margin-bottom: auto;
      }

      .search-icon {
        cursor: pointer;
      }

      .search-icon:hover {
        color: $secondary-text-color-hover;
      }

      .search-container {
        display: inline-flex;
        align-content: center;
        height: 100%;
      }
    }

    .search-form:focus-within {
      width: $mobile-search-form-width;
    }

    .search-button {
      display: block;
    }
  }
}

::ng-deep .mat-drawer-backdrop {
  margin-top: -200px;
}
