<header>
  <div class="header align-center">
    <app-hamburger-button
      (switch)="switchDrawer()"
      [drawerOpen]="uiStateService.isDrawerOpen$ | async"
      aria-label="hamburger menu open"
    ></app-hamburger-button>
    <img
      class="logo cursor-pointer"
      [routerLink]="['/']"
      alt="logo"
      src="assets/img/logo.png"
    />
    <div class="center-vertical">
      <button
        mat-icon-button
        class="search-button"
        (click)="openSearchMobile()"
        aria-label="open search prompt"
      >
        <mat-icon>search</mat-icon>
      </button>
    </div>

    <form
      class="search-form"
      [formGroup]="searchForm"
      (submit)="search()"
    >
      <input
        type="text"
        [formControl]="searchForm.get('search')"
        aria-label="search box"
        placeholder="Search tags"
      />
      <div class="search-container">
        <mat-icon (click)="search()" class="icon search-icon">search</mat-icon>
      </div>
    </form>

    <form
      class="mobile-search-form"
      [formGroup]="searchForm"
      (submit)="search()"
      [class.open]="mobileSearchOpen"
    >
      <input
        type="text"
        [formControl]="searchForm.get('search')"
        aria-label="search box"
        placeholder="Search tags"
      />
      <div class="search-container">
        <mat-icon (click)="search()" class="icon search-icon">search</mat-icon>
      </div>
    </form>
  </div>
</header>
