<div class="post-head">
    <div class="title">
        <span>{{ post.title }}</span>
    </div>
    <div class="subtitle">
        <span>{{ post.subtitle }}</span>
    </div>
    <img
        class="main-image"
        [alt]="post.title"
        [src]="post.mainImagePath"
        onerror="this.style.display='none'"
    />
</div>
<div class="detail-screen">
    <blog-post-detail-screen [text]="post.body"></blog-post-detail-screen>
    <div class="tags">
        <blog-post-chips [tags]="post.tags"></blog-post-chips>
    </div>
    <div class="comments"><disqus [identifier]="post.id"></disqus></div>
</div>
