@import "./../../../variables.scss";

.not-found {
  color: $subtitles-color;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  text-align: center;
}

@keyframes rotating {
  from {
    transform: translateX(-10px);
  }
  to {
    transform: translateX(10px);
  }
}
.animate {
  animation: rotating 0.1ms alternate infinite;
}
