<div class="not-found ">
  <img class="animate" src="assets/img/dead_ninja.png" />
  <h1>404</h1>
  <h3>How did you even get here? 🤔</h3>
  <h4><a href="mailto:kwiniarski97@gmail.com">Report an issue</a></h4>
</div>
