<div>
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title> Posts </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-action-list *ngFor="let postRoute of postRoutes" dense>
                <button mat-list-item [routerLink]="postRoute.route">
                    {{ postRoute.label }}
                </button>
            </mat-action-list>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title> Tags </mat-panel-title>
            </mat-expansion-panel-header>
            <small>WIP</small>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title> Admins </mat-panel-title>
            </mat-expansion-panel-header>
            <small>WIP</small>
        </mat-expansion-panel>
    </mat-accordion>
</div>
