@import "./../../../../variables.scss";

$header-height: 65px;
$footer-height: 200px;

.drawer {
  .header {
    height: $header-height;
    display: flex;
    justify-content: space-between;
    align-content: center;

    img {
      margin-left: 1rem;
      max-height: 3.5rem;
    }

    #hamburger {
      margin-top: auto;
      margin-bottom: auto;
      margin-right: 1rem;
    }
  }

  ::ng-deep .mat-expansion-panel:not([class*="mat-elevation-z"]) {
    box-shadow: none !important;
  }

  .menu-items {
    position: relative;
    margin-bottom: $footer-height;
    margin-left: 0.5rem;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 265px);
    justify-content: space-between;
    overflow-y: auto;
  }

  .footer {
    width: 100%;
    height: $footer-height;
    background: $primary-color;
    position: absolute;
    bottom: 0;

    .outer {
      margin: auto;
      display: table;
      width: 100%;
      height: 100%;

      .inner {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        color: #fff;

        .author-pic {
          width: 86px;
          height: 86px;
          border-radius: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
