$background-color: #fff;

$secondary-text-color: hsla(220°, 5%, 76%, 1);

$secondary-text-color-hover: hsla(220°, 5%, 60%, 1);

$primary-color: #28359d;

$accent-color: #ff4081;

$subtitles-color: #454545;

$header-color: rgba(255, 255, 255, 0.8);
