<div class="login-container">
    <button
        class="sign-in-button"
        [class.animate]="isLoading$ | async"
        mat-button
        (click)="login()"
    >
        <span>Sign in 🔑</span>
    </button>
</div>
