@import './../../../../variables.scss';

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    .sign-in-button {
        font-size: 1.5rem;
        color: white;
        padding: 0.5rem 2rem 0.5rem 2rem;
        background: linear-gradient(to right, $primary-color, $accent-color);
        background-size: 400% 400%;
    }
    .sign-in-button.animate {
        animation: Gradient 2s ease infinite;
    }
}
@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
