<form [formGroup]="form" (submit)="submit()">
    <div class="halves">
        <span class="tree-fourth-width">
            <mat-form-field class="w-100">
                <input
                    formControlName="title"
                    matInput
                    placeholder="Title"
                    value=""
                />
            </mat-form-field>
        </span>
        <span class="one-fourth-width">
            <mat-form-field class="w-100">
                <input
                    matInput
                    formControlName="publishDate"
                    [matDatepicker]="myDatepicker"
                    placeholder="Publish date"
                />
                <mat-datepicker-toggle
                    matSuffix
                    [for]="myDatepicker"
                ></mat-datepicker-toggle>
                <mat-datepicker #myDatepicker></mat-datepicker>
            </mat-form-field>
        </span>
    </div>
    <mat-form-field class="w-100">
        <textarea
            formControlName="subtitle"
            matInput
            placeholder="Subtitle"
            value=""
        ></textarea>
    </mat-form-field>
    <mat-form-field class="w-100">
        <mat-select placeholder="Tags" formControlName="tags" multiple>
            <mat-option *ngFor="let tag of availableTags" [value]="tag">{{
                tag
            }}</mat-option>
        </mat-select>
    </mat-form-field>
    <div class="halves">
        <span class="form-half-width">
            <mat-form-field class="w-100">
                <input
                    formControlName="mainImagePath"
                    matInput
                    placeholder="Image"
                    value=""
                />
            </mat-form-field>
        </span>
        <span class="form-half-width">
            <mat-form-field class="w-100">
                <input
                    formControlName="mainImageThumbnailPath"
                    matInput
                    placeholder="Thumbnail"
                    value=""
                />
            </mat-form-field>
        </span>
    </div>
    <mat-form-field class="form-full-width">
        <textarea
            formControlName="body"
            matInput
            placeholder="Content"
            matTextareaAutosize
            matAutosizeMinRows="10"
            value=""
        ></textarea>
    </mat-form-field>
    <blog-post-detail-screen
        [text]="content$ | async"
    ></blog-post-detail-screen>
    <hr />
    <div class="submit-button">
        <button type="submit" mat-raised-button color="primary">SAVE</button>
    </div>
</form>
