.form-full-width {
    width: 100%;
}
.halves {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    .form-half-width {
        width: 48%;
        input {
            width: 100%;
        }
    }
    .one-fourth-width {
        width: 23%;
    }

    .tree-fourth-width {
        width: 72%;
    }
}

.submit-button {
    text-align: right;
}
